#nav-bar {
  width:1000px;
  margin: 0 auto;
  height: 40px;
}

body {
  margin:0;
  padding:0;
  font-family: Helvetica, Arial, sans-serif;
}

#header-container {
  background-color: #bb1919;
  width: 100%;
  height: 80px;

}

#header {
  width:1000px;
  margin: 0 auto;
}

h1 {
  padding:0;
  margin:0;
  color:white;
  font-size:40px;
  font-weight: normal;
  padding-top: 10px;
}

#logo {
  margin-top: 8px;
  width: 100px;
  float:left;
  margin-right: 8px;
}

.navbar-section {
  float:left;
  border-left: 1px #cccccc solid;
  height: 100%;
}

#signin-image {
  width:30px;
  margin: 8px 12px;
  float: left;
}

#signin-text {
  font-size: 90%;
  font-weight: bold;
  position: relative;
  top: 14px;
  padding-right: 50px;
}

.navbar-menu {
  font-size: 90%;
  font-weight: bold;
  padding: 13px 15px 0 15px;
  height: 25px;
}

.dropdown-content {
  display: none;
  position:absolute;
}

.dropdown {
  position: relative;
  display inline-block;
}

#dropdown-content {
  display:none;
  position: absolute;
  background-color: white;
  width: 2000%;
  height: 200px;
}

#dropdown-content a {
  color: black;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

#dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown:hover #dropdown-content {
  display: block;
}

#header2-container {
  width:100%;
  background-color: #a71a1e;
}

#header2-menu {
  width: 1000px;
  margin:0 auto;
  height:30px;
}

#header2-menu a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  border-right: 1px #cccccc solid;
  font-size: 13px;
  position: relative;
  top: 9px;
}

#header2-menu a:hover {
  text-decoration: underline;
}

.clear {
  clear:both;
}

#page-container {
  width:1000px;
  margin: 0 auto;
}

h2 {

  font-weight: normal;
  margin-top: 40px;
  font-size: 20px;
  border-bottom: 2px solid #a71a1e;
  width:105px;
}

h3 a {
  text-decoration: none;
  color: #1968a6;
  font-size: 200%;
}

#article-summary {

  color:#5a5a5a;
  width:250px;
  float: left;
}

#article-summary a {

  text-decoration: none;
  color:#a91717;
  border-left: 1px solid #cccccc;
  padding-left: 10px;
}

#article-container {

  float:left;
  width:680px;
  border-right: 1px solid #cccccc;
  padding-right: 20px;
}

#main-article-img {

  width:400px;
  position:relative;
  margin-left: 20px;
}

#article-hr {

  border-top: 1px solid #a71a1e;
  width: 50px;
}
